.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
}

.post{
  margin-bottom: 15px;

  font-size: 18px;
  text-align:left;
}

.title{
  font-size: 32px;
}

.edit-input{
  display: block;
  margin: 0 auto 15px auto;
  padding: 0 5px;
  width: 450px;
  height: 25px;
  line-height: 25px;
}

.comment-textarea{
  display: block;
  width: 400px;
  height: 200px;
  margin: 15px auto;
}
.create-post-btn{
  display: inline-block;
  margin-bottom: 15px;
}

.new-post-form label{
  display: block;
  margin-bottom: 15px;
}

.blog-page{
  text-align:left;
}

.button-margin-r{margin-right: 15px;}

.comments{
  list-style:none;
  width: 800px;
  margin: 0 auto 20px auto;
  padding: 0;
}

.comments li{
  margin-bottom: 15px;
  border: 2px solid orange;
  padding: 10px;
}

.comments-title{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.new-comment-form{text-align: center;}
.back-button{
  display: inline-block; margin-bottom: 15px;
}